h1{
    text-align: center;
    text-transform: uppercase;
    color: green;
}
p{
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
  }
  
a{
    text-decoration: none;
    color: blue;
} 
